.stock-cards-list .stock-cards-list-item {
    display: flex;
    padding: 4px;
    border: 1px solid black;
    margin-bottom: 4px;
}
.stock-cards-list .stock-cards-list-item:nth-child(odd) {
    background-color: #BDC3C7;
}
.stock-cards-list .stock-cards-list-item:last-of-type {
    margin-bottom: 0;
}

.stock-cards-list .stock-cards-list-item button {
    width: 48px;
    height: 48px;
    margin-left: auto;
}